<template>
  <ok-jedi v-model="model" title="editable" allowEdit />
  <pre>
    {{model}}
  </pre>
</template>

<script setup>
  import { ref } from 'vue'
  import content from '../mocks/default.json'

  const model = ref(content)
</script>
